<div class="wrapper portfolio" style="background-color: white;">
  <h2 class="text-center project">Mes projets</h2>
  <div class="layout-portfolio">
    <div class='item-1'>
      <div class="project-container">
        <div class="project-content">
          <h3>Project name</h3>
          <div class="bar"></div>
          <p>Website</p>
        </div>
      </div>
    </div>
    <div class='item-2'>
      <div class="project-container">
        <div class="project-content">
          <h3>Project name</h3>
          <div class="bar"></div>
          <p>Website</p>
        </div>
      </div>
    </div>
    <div class='item-3'>
      <div class="project-container">
        <div class="project-content">
          <h3>Project name</h3>
          <div class="bar"></div>
          <p>Website</p>
        </div>
      </div>
    </div>
  </div>
  <div class="layout-portfolio">
    <div class='item-1'>
     <div class="project-container">
        <div class="project-content">
          <h3>Project name</h3>
          <div class="bar"></div>
          <p>Website</p>
        </div>
      </div>
    </div>
    <div class='item-2'>
      <div class="project-container">
        <div class="project-content">
          <h3>Project name</h3>
          <div class="bar"></div>
          <p>Website</p>
        </div>
      </div>
    </div>
    <div class='item-3'>
      <div class="project-container">
        <div class="project-content">
          <h3>Project name</h3>
          <div class="bar"></div>
          <p>Website</p>
        </div>
      </div>
    </div>
  </div>
</div>


