.profile-grid {
  height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: 400px 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  height: 100vh;
  padding: 10px 0px;
}

.profile-section {
  grid-column: 1 / span 1;
  grid-row: 1 /span 2;

}

.main-section {
  grid-column: 2 / span 3;
  grid-row: 1 / span 2;
}
