---
title: Ronan Girault
---
<div class="wrapper text-center">
  <div class="profile-grid">
    <div class="card profile-section">
      <div class="card-content">
        <img src="images/profil.png" alt="Ronan Girault" class="img-circle">
        <h1>Ronan Girault </h1>
        <h2>Fullstack developper (ROR)</h2>
        <p class="text-justify">
          After 5 years in hairdressing, I got bored and start a redevelopment in digital marketing and web development. My goals : Combine those skills and developt them through creativy.
        </p>
      </div>
    </div>
    <div class="card main-section">
      <div class="card-content">

      </div>
    </div>
  </div>
</div>

